body {
	padding: 0px;
	margin: 0px;
	font-family: Gill Sans, Verdana;
	background: red;
}

#loading {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: #ffffff url('../images/loading.gif') no-repeat center center;
}

#h1h1 {
	height: 35px;
	background: #000000;
	padding: 0px;
	margin: 0px;
}

#h1h2 {
	margin: 0px auto 0px auto;
	color: #ffffff;
	text-align: right;
	padding: 0px;
	width: 750px;
	height: 35px;
	line-height: 35px;
}

#h1h2 a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

#h2h1 {
	background: #f0f0f0;
	height: 90px;
	border-bottom: 1px solid #E4E4E4;
}

#h2h2 {
	margin: 0px auto 0px auto;
	padding: 10px 0px 10px 0px;
	width: 750px;
	height: 70px;
	font-weight: normal;
}

#content {
	background: #ffffff;
	position: absolute;
	top: 126px;
	left: 50%;
	width: 750px;
	bottom: 0px;
}

#body {
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: -375px;
	width: 750px;
	top: 0px;
	bottom: 0px;
}

#content-right {
	text-align: right;
	float: left;
	width: 400px;
	height: 65px;
	color: #0773dd;
	padding: 5px 0px 0px 0px;
	font-size: 24px;
}

#content-right span {
	display: block;
	font-size: 14px;
}

#logo {
	font-size: 56px;
	color: #d73828;
	float: left;
	width: 350px;
	height: 70px;
}

#body {
	clear: both;
	width: 750px;
	padding: 20px 0px 0px 0px;
}

#logo .two {
	font-size: 45px;
}

#logo .green {
	color: #019138;
}

.start {
	margin: 30px 0px 30px 0px;
	display: block;
	width: 750px;
	font-size: 48px;
	color: #d73828;
	font-weight: 500;
	height: 50px;
}

.left {
	float: left;
	height: 50px;
	width: 400px;
}

.right {
	float: left;
	height: 50px;
	width: 350px;
	text-align: right;
}

.start span {
	color: #019138;
}