body {
	padding: 0px;
	margin: 0px;
	font-family: Gill Sans, Verdana, Sans-serif;
}
/* @sprite body {
	gwt-image: 'facebook';
} */
.errorClass {
	background-color: #D73828;
	color: #ffffff;
}

h1,h2,h3 {
	clear: both;
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}

	100%
	{
		opacity: 0.7;
	}
}

@-webkit-keyframes slide {
	0% {
		left: -500px;
	}

	100% {
		left: 0px;
	}
}
#body>div>div {
	position: absolute;
	-webkit-animation-name: slide;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1.0);
	-webkit-animation-iteration-count: 1;
}

.grayBackgroundClass {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #f0f0f0;
	opacity: 0.7;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
}

.fullScreenClass {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
}

.labelClass {
	font-size: 1.3em;
	margin-top: 6px;
}

.clearClass {
	clear: both;
}

.errorLabelClass {
	clear: both;
	font-size: 0.8em;
	overflow:hidden;
	color: #D73828;
	-webkit-transition: visibility 0s linear 0.5s,height 0.5s linear,opacity 0.2s linear;
	height: 0px;
	opacity: 0;
	visibility: visible;
}


.errorLabelShowClass {
	height:1.5em  !important;
	visibility: visible  !important;
	opacity: 1  !important;
}

.lockWidgetClass {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: white;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}
.lockWidgetShowClass {
	opacity: 0.7;
	visibility: visible;
}
.loadingImageClass {
	display: block;
	position: absolute;
	left: -50%;
	top: -50%;
}
.loadingImageDivClass {
	position: absolute;
	left: 50%;
	top: 50%;
}
@def LEFT_TOP literal('left top');
@def LEFT_BOTTOM literal('left bottom');
.errorViewClass {	
	margin: 10px auto 0 auto;
	width: 240px;
}
@-webkit-keyframes fade {
  from {opacity: 0;}
  62% {opacity: 0.3;}
  to {opacity: 1;}
}
.errorViewItemClass {
	position: absolute;
	top: -100px;
	width: 200px;
	border: 1px solid #B52121;
	border-bottom: 1px solid #941C1C;
	background: literal('-webkit-gradient(linear,left top,left bottom,from(#FF2929),to(#B52121))');
	padding: 10px;
	-webkit-border-radius: 3px;
	-webkit-transition: top 0.5s linear;
	-webkit-animation: fade 0.8s linear 1;
	word-wrap: break-word;
	z-index: 2;
}
.errorViewImageClass {
	float:left;
}

.editableWidgetLabelError {
	color: #D73828;
}
}