body {
	padding: 0px;
	margin: 0px;
	font-family: Gill Sans, Verdana, Sans-serif;
}
h1, h2, h3, h4 {
	margin: 0 0 0.8em 0;
}
@sprite input[type="checkbox"] {
	gwt-image: 'checkbox';
	-khtml-appearance: none;
}
@sprite input[type="checkbox"]:checked {
	gwt-image: 'checkboxChecked';
	-khtml-appearance: none;
}
@sprite input[type="checkbox"]:CHECKED:HOVER {
	gwt-image: 'checkboxCheckedHover';
	-khtml-appearance: none;
}
@sprite input[type="checkbox"]:HOVER {
	gwt-image: 'checkboxHover';
	-khtml-appearance: none;
}
@sprite input[type="checkbox"]:DISABLED {
	gwt-image: 'checkboxDisabled';
	-khtml-appearance: none;
}
@sprite input[type="checkbox"]:DISABLED:HOVER {
	gwt-image: 'checkboxDisabled';
	-khtml-appearance: none;
}

@sprite input[type="radio"] {
	gwt-image: 'radio';
	-khtml-appearance: none;
}
@sprite input[type="radio"]:checked {
	gwt-image: 'radioChecked';
	-khtml-appearance: none;
}
@sprite input[type="radio"]:CHECKED:HOVER {
	gwt-image: 'radioCheckedHover';
	-khtml-appearance: none;
}
@sprite input[type="radio"]:HOVER {
	gwt-image: 'radioHover';
	-khtml-appearance: none;
}
@sprite input[type="radio"]:DISABLED {
	gwt-image: 'radioDisabled';
	-khtml-appearance: none;
}
@sprite input[type="radio"]:DISABLED:HOVER {
	gwt-image: 'radioDisabled';
	-khtml-appearance: none;
}
/* @sprite body {
	gwt-image: 'facebook';
} */
.errorClass {
	background-color: #D73828;
	color: #ffffff;
}

h1,h2,h3 {
	clear: both;
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}

	100%
	{
		opacity: 0.7;
	}
}

@-webkit-keyframes slide {
	0% {
		left: -500px;
	}

	100% {
		left: 0px;
	}
}
#body>div>div {
	position: absolute;
	-webkit-animation-name: slide;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1.0);
	-webkit-animation-iteration-count: 1;
}

.grayBackgroundClass {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #f0f0f0;
	opacity: 0.7;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
}

.fullScreenClass {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
}

.labelClass {
	font-size: 1.3em;
	margin-top: 6px;
}

.clearClass {
	clear: both;
}

.errorLabelClass {
	clear: both;
	font-size: 0.6em;
	overflow:hidden;
	color: #D73828;
	-webkit-transition: visibility 0s linear 0.5s,height 0.5s linear,opacity 0.2s linear;
	height: 0px;
	opacity: 0;
	visibility: visible;
}


.errorLabelShowClass {
	height: 1.7em  !important;
	overflow: visible;
	visibility: visible  !important;
	opacity: 1  !important;
}


.lockWidgetClass{    
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: white;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}
.lockWidgetShowClass {
	opacity: 0.7;
	visibility: visible;
}
@sprite .loadingImageClass {
	gwt-image: "loading";
    background-position: center;
    height: 100%;
    width: 100%;
}
@def LEFT_TOP literal('left top');
@def LEFT_BOTTOM literal('left bottom');
.errorViewClass {	
	margin: 10px auto 0 auto;
	width: 240px;
}
@-webkit-keyframes fade {
  from {opacity: 0;}
  62% {opacity: 0.3;}
  to {opacity: 1;}
}
.errorViewItemClass {
	position: absolute;
	top: -100px;
	width: 200px;
	border: 1px solid #B52121;
	border-bottom: 1px solid #941C1C;
	background: literal('-webkit-gradient(linear,left top,left bottom,from(#D46E63),to(#D73828))');
	padding: 10px;
	-webkit-border-radius: 3px;
	-webkit-transition: top 0.5s linear;
	-webkit-animation: fade 0.8s linear 1;
	word-wrap: break-word;
	z-index: 2;
}
.errorViewImageClass {
	float:left;
}

.editableWidgetLabelError {
	color: #D73828;
}
.saveButtonClass {
	padding: 10px 20px;
	border: 1px solid #005C23;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	background: literal('-webkit-gradient(linear,left top,left bottom,from(#00B545),to(#019138))');
	margin: 0 0 1em 0;
}
.saveButtonClass:ACTIVE {
	background: literal('-webkit-gradient(linear,left top,left bottom,from(#019138),to(#00B545))');
}
.saveButtonClass:HOVER {
	border: 1px solid black;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.flexTableClass {
	border-collapse: collapse;
	margin-bottom: 20px;
	border: 1px solid #C7C7C7;
	width: 100%;
}
.flexTableHeaderClass {
	background: #DEDEDE;
	font-weight: bold;
	padding: 10px;
}
.flexTableOddClass {
	background: #FAFAFA;
	padding: 10px;
}
.flexTableEvenClass {
	background: #F5F5F5;
	padding: 10px;
}